.image{
margin: 30px 0 0 100px;
width: 80vw;
height: 50vh;
}
.title{
    margin: 20px 0 0 100px;
}
.para{
    margin: 10px 100px;
}
.box{
    width: 70vw;
    height: 20vh;
    background-color: #2FB2E0;
}
h1{
    display : 'flex';
    font-weight: 600;
    color: white;
    justify-content:flex-end 
}

